:root {
    --azul-hangul: #005BAC;
    --rojo-corea: #C60C30;
    --blanco-puro: #FFFFFF;
    --gris-suave: #F5F5F5;
    --verde-pastel: #A7D676;
    --rosa-suave: #F4A8BC;
}

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.alfabeto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.imgAlfabeto {
    width: 100%;
}

.letra {
    font-size: 30px;
    font-weight: bold;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#primero, #segundo {
    display: flex;
    flex-direction: row;
}

.botonContainer {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

button {
    background-color: var(--rojo-corea);
    color: var(--blanco-puro);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 80px;
    font-size: 30px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 10px;
}

@media (max-width: 768px) {
    button {
        width: 100px;
        height: 40px;
        font-size: 15px;
        
    }
}

button:hover {
    background-color: var(--azul-hangul);
}

#ejplvocal {
    display: flex;
    flex-direction: column;
}

.titleimg {
    font-size: 20px;
}

.text {
    margin-top: 5px;
    padding: 2px;
}

#contenedor_comentarios {
    display: flex;
    flex-direction: column;
    
}