:root {
    --azul-hangul: #005BAC;
    --rojo-corea: #C60C30;
    --blanco-puro: #FFFFFF;
    --gris-suave: #F5F5F5;
    --verde-pastel: #A7D676;
    --rosa-suave: #F4A8BC;
}

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(var(--blanco-puro), var(--gris-suave));
}

.navegacion {
    display: flex;
    flex-direction: row;
    padding: 1px;
}

.btnsnav {
    background-color: #C60C30;
}

.alfabeto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.imgAlfabeto {
    width: 100%;
}

.letra {
    font-size: 30px;
    font-weight: bold;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#primero, #segundo {
    display: flex;
    flex-direction: row;
}

.botonContainer {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

@media (max-width: 768px) {
    button {
        width: 100px;
        height: 40px;
        font-size: 15px;
    }
}

#ejplvocal {
    display: flex;
    flex-direction: column;
}

.titleimg {
    font-size: 20px;
}

.text {
    margin-top: 5px;
    padding: 2px;
}

#contenedor_comentarios {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background-image: radial-gradient(circle, var(--verde-pastel), var(--rosa-suave));
}

#boton_form {
    background-color: var(--rojo-corea);
    border: none;
    cursor: pointer;
    width: 100px;
    height: 60px;
    color: var(--blanco-puro);
}