:root {
    --azul-hangul: #005BAC;
    --rojo-corea: #C60C30;
    --blanco-puro: #FFFFFF;
    --gris-suave: #F5F5F5;
    --verde-pastel: #A7D676;
    --rosa-suave: #F4A8BC;
}

header {
    background-color: var(--rosa-suave);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.container {
    font-size: 30px;
    font-weight: bold;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    color: var(--azul-hangul);
}

@media (max-width: 768px) {
    .container {
        font-size: 16px;
    }
}

footer {
    background-color: var(--verde-pastel);
    border-top: 1px solid var(--azul-hangul);
    transition: background-color 0.5s ease;
}

footer:hover {
    background-color: var(--azul-hangul);
}

footer:hover body {
    background-color: #005BAC;
}