<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprender Coreano</title>
    <link rel="icon" type="image/png" href="../img/iconredondo.png">
    <link rel="preload" href="../css/normalize.css" as="style">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="preload" href="../css/contenido.css" as="style">
    <link rel="stylesheet" href="../css/contenido.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"></head>
<body>
    <header>
        <h1 class="container" id="typing"></h1>
    </header>
<section id="alfabeto">
    <div class="prueva">
    <h1>Alfabeto Coreano (Hangul)</h1>
        <div class="secimg">
            <img onclick="mostrarPantallaCompleta(this)" class="imgAlfabeto" src="../img/alfabeto.svg">
        </div>

        <div class="botonContainer">
                <a href="documentos/Alfabeto_Hangul.pdf" download>
                    <button>Descargar</button>
                </a>
        </div>
    </div>
    
        <div class="text">
            El alfabeto coreano, conocido como Hangul (한글), tiene 24 letras: 10 vocales y 14 consonantes. Fue creado en el siglo XV por el rey Sejong el Grande y un grupo de eruditos, con el propósito de facilitar la lectura y escritura para las personas comunes, ya que en aquel tiempo el chino clásico era el sistema de escritura predominante en Corea, pero resultaba difícil de aprender para la mayoría de la población. Hangul se diseñó de manera lógica y científica, basado en la forma de la boca y la lengua al pronunciar los sonidos. Aunque en sus inicios enfrentó resistencia por parte de la élite que prefería el chino, con el tiempo se convirtió en el sistema de escritura oficial de Corea y es ampliamente reconocido por su eficiencia y facilidad de aprendizaje.
        </div>
</section>

<section id="trazos">
    <h2>Trazos del Hangul</h2>
    <h2>Reglas de los Trazos del Hangul</h2>
    <p>Las letras en <strong>Hangul</strong> (el alfabeto coreano) se escriben siguiendo reglas específicas de trazos. Estas reglas aseguran que las letras se escriban de manera coherente y legible. A continuación, te presentamos las principales reglas para escribir los trazos de las letras Hangul:</p>

    <h2>Reglas Generales</h2>
    <ul class="list">
        <li><strong>Dirección del trazo:</strong> Los trazos se escriben de <em>izquierda a derecha</em> y de <em>arriba hacia abajo</em>.</li>
        <li><strong>Escribir primero las líneas horizontales:</strong> Cuando una letra tiene trazos tanto horizontales como verticales, primero se escribe la línea horizontal y luego la vertical.</li>
        <li><strong>Escribir primero los trazos principales:</strong> Si una letra tiene un trazo principal y un trazo secundario, el trazo principal debe escribirse primero.</li>
        <li><strong>La forma de los bloques de sílabas:</strong> Las letras se agrupan en bloques de sílabas. Los bloques deben formarse con las consonantes al inicio y las vocales a la derecha o debajo.</li>
    </ul>



    <h2>Consideraciones Adicionales</h2>
    <ul class="list">
        <li><strong>Espaciado y alineación:</strong> Los trazos deben estar alineados correctamente dentro del bloque de sílaba.</li>
        <li><strong>Tamaño uniforme:</strong> Los trazos deben tener un tamaño consistente para asegurar una escritura clara.</li>
    </ul>

    <p>Es importante seguir estas reglas para asegurar que la escritura en Hangul sea precisa y legible.</p>

    <div id="ejplvocal">
        <div class="titleimg">
            <p>Ejemplo del correcto trazo de las vocales:</p>
        </div>
        <div class="secimg">
            <img onclick="mostrarPantallaCompleta(this)" class="imgAlfabeto" src="../img/trazos.svg">
            <div class="botonContainer">
            <a href="documentos/Trazos_de_vocales.pdf" download>
                <button>Descargar</button>
            </a>
            </div>
        </div>
    </div>

    <div id="ejplconsonante">
        <div class="titleimg">
            <p>Ejemplo del correcto trazo de las consonantes:</p>
        </div>
        <div class="secimg">
            <img onclick="mostrarPantallaCompleta(this)" class="imgAlfabeto" src="../img/trazos2.svg">
            <div class="botonContainer">
            <a href="documentos/trazos_de_consonantes.pdf" download>
                <button>Descargar</button>
            </a>
            </div>
        </div>
    </div>
</section>

<footer>
    <section id="comentarios">
        <div id="contenedor_comentarios">
            <form name="contacto" method="POST" data-netlify="true">
                <div>
                    <h1>Nombre:</h1>
                    <input type="text" id="nombre" name="nombre" required>
                </div>

                <div>
                    <h1>Email:</h1>
                    <input type="email" id="email" name="email" required>
                </div>

                <div>
                    <h1>Mensaje:</h1>
                    <textarea id="mensaje" name="mensaje" required></textarea>
                </div>

                <button id="boton_form" type="submit">Enviar</button>

            </form>
        </div>
    </section>
</footer>

<script src="../scripts/general.js"></script>
<script src="../scripts/contenido.js"></script>
</body>
</html>